<div class="ecs-content-box" *ngIf="loader">
    loading....
</div>
<div class="ecs-content-box usage-report-container" *ngIf="!loader">
    <div>
        <h3 class="heading-section">Energy Saving Tips</h3>
        <div class="tip-container">
            <div class="card-container">
                <div class="glyph-icon flaticon-air-conditioner">
                    <h2 class="tips-title">Cooling and Heating</h2>
                </div>
                <ul class="tips-grid">
                    <li>•	Air sealing your home not only reduces the amount of outside air getting into your home but also the amount of conditioned air (heated or cooled) that gets out. Sealing cracks, gaps, leaks and adding insulation can save on cooling and heating cost.</li>
                    <li>•	During warmer months, close blinds, shades and drapes on the sunny side of your home to help keep your home's temperature cooler and reduce the work for you AC. Open shades during cooler months to let the sun warm your home.</li>
                    <li>•	Set your thermostat to 78F in the summer and 68F in the winter     – every degree of extra heating or cooling will increase your energy usage.</li>
                    <li>•	Install a smart thermostat that will automatically adjust the temperature according to your schedule.</li>
                </ul>
            </div>
            <div class="card-container">
                <div class="glyph-icon flaticon-lamp">
                    <h2 class="tips-title">Lighting</h2>
                </div>
                <ul class="tips-grid">
                    <li>•	Switch to LED lights which lasts 3 times longer and also uses very little energy</li>
                    <li>•	Control your fixtures with a sensor or timer to assure dusk-to-dawn only operation of your outdoor lights.</li>
                </ul>
            </div>
            <div class="card-container">
                <div class="glyph-icon flaticon-microwave">
                    <h2 class="tips-title">Water Heating</h2>
                </div>
                <ul class="tips-grid">
                    <li>•	Lower the temperature on your water heater to 120F – Save from 
                        3% to 5% energy cost by reducing the temperature by 10 degrees.
                        </li>
                    <li>•	If you have an electric water heater, install a water heater timer to turn-off your heater during the nights to conserve energy.</li>
                </ul>
            </div>
            <div class="card-container">
                <div class="glyph-icon flaticon-fridge">
                    <h2 class="tips-title">Appliances</h2>
                </div>
                <ul class="tips-grid">
                    <li>•	Adjust your fridge temperature settings to ideal fridge temperature between 33F to 36F</li>
                    <li>•	Make sure there is enough air space between your fridge coils and the walls to allow your refrigerator to operate at maximum efficiency. </li>
                </ul>
            </div>
        </div>
    </div>

</div>

