<div class="ecs-content-box">
    <div class="neighbourhood-data">
        <h3>Neighbourhood Comparison</h3>
        <div class="neighbourhood-chart day-usage-bar" *ngIf="amount">
            <div class="neighbourhood-canvas-chart" *ngIf="lineChartData?.length > 0">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptionsAmount" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
                </canvas>
            </div>
            <div class="neighbourhood-ngx-chart">
                <ngx-charts-bar-horizontal [view]="view" [roundDomains]=true [scheme]="colorScheme" [results]="multiAmount" [gradient]="false" [noBarWhenZero]=true [xAxis]="false" [yAxis]="true" [barPadding]=30 [roundEdges]=true>
                    <ng-template #tooltipTemplate let-model="model">
                        <p class="ecs-tooltip">{{model.name}} ${{model.value | json}}</p>
                    </ng-template>
                </ngx-charts-bar-horizontal>
            </div>
        </div>
        <div class="neighbourhood-chart day-usage-bar" *ngIf="kilowats">
            <div class="neighbourhood-canvas-chart">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptionsKwh" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
                </canvas>
            </div>
            <div class="neighbourhood-ngx-chart">
                <ngx-charts-bar-horizontal [view]="view" [roundDomains]=true [scheme]="colorScheme" [results]="multiKwh" [gradient]="false" [noBarWhenZero]=true [xAxis]="false" [yAxis]="true" [barPadding]=30 [roundEdges]=true>
                    <ng-template #tooltipTemplate let-model="model">
                        <p class="ecs-tooltip">{{model.name}} {{model.value | json}}kWh</p>
                    </ng-template>
                </ngx-charts-bar-horizontal>
            </div>
        </div>
    </div>

    <div class="status-indicator">
        <div class="status" [ngClass]="{'active': amountValue < 120}">
            <div class="figure figure-great"></div>
            <h4>Great</h4>
        </div>
        <div class="status" [ngClass]="{'active': amountValue > 120 && amountValue < 150}">
            <div class="figure figure-good"></div>
            <h4>Good</h4>
        </div>
        <div class="status" [ngClass]="{'active': amountValue > 150}">
            <div class="figure figure-negative"></div>
            <h4>Using more than average</h4>
        </div>
    </div>
    <div class="ecs-toggle-switch">
        <span class="selector">Amount</span>
        <label class="switch">
            <input type="checkbox" (change)="handleSelected($event)">
            <span class="slider"></span>
        </label>
        <span class="selector">Kilowatts</span>
    </div>
</div>