app-root {
    @include flexbox();
    @include flex(1 0 auto);
    @include flex-direction(column);
    @include device(lg) {
        @include flex-direction(row);
        @include justify-content(flex-start);
        height: $full;
    }
    .section-container {
        @include flex(0 0 calc(#{$full} - #{$full/4}));
        app-header {
            @include flex(0 0 $full);
            height: auto;
        }
        app-dashboard,
        app-daily-usage {
            // @include flex(0 0 calc(#{$full} - #{$full/4}));
        }
    }
    .ecs-content-box {
        @include flexbox();
        @include flex(1 0 auto);
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        @include device(lg) {
            height: calc(#{$full} - #{$default-unit*40});
        }
        .max-hgt-container {
            max-height: $default-unit*308;
            overflow-y: auto;
            @include device(lg) {
                max-height: inherit;
                overflow-y: visible;
            }
        }
        .align-item-bottom {
            @include align-self(flex-end)
        }
    }
}