app-root {
    @include flexbox();
    @include flex(1 0 auto);
    @include flex-direction(column);
    @include device(lg) {
        @include flex-direction(row);
        @include justify-content(flex-start);
        height: $full;
    }
    app-dashboard,
    app-daily-usage {
        @include flex(0 0 calc(#{$full} - #{$full/4}));
    }
    .ecs-content-box {
        @include flexbox();
        @include flex(1 0 auto);
        @include flex-direction(column);
        // @include justify-content(flex-start);
        .max-hgt-container {
            max-height: $default-unit*300;
            overflow-y: auto;
            @include device(lg) {
                max-height: inherit;
                overflow-y: visible;
            }
        }
    }
}