.ecs-select{
    padding: $default-padding $default-padding*2;
    padding-left: $default-padding/2;
    margin-right: $default-margin*3;
    border: thin solid rgba($primary-dark-color,.5);
    // @include border-radius($default-unit*3);
    outline: $default-unit+1 solid rgba($primary-dark-color,.1);
}