@import '../../scss/ecs-master';
// .point {
//     stroke: orange;
//     stroke-width: 1;
// }
::ng-deep {
    .usage-report-container{

    

    .pie-label{
        @include ecs-typo($primary-font-regular, 700, 16px, 20px, $primary-dark-color);
        font-size: 16px !important;
    }
    .usage-report{
        position: relative;
    padding: $null;
    width: $full;
    // max-width: $default-unit*100;
    margin: $full/30 auto;
    @include flexbox();
    @include flex(1 0 auto);
    @include flex-direction(column);
    @include align-items(center);
    @include device(lg) {
        max-width: $default-unit*480;
        margin: $full/40 auto;
    }
        h3 {
            @include ecs-typo($primary-font-regular, 700, 16px, 20px, $primary-dark-color);
            text-align: center;
        }
        .bill-comparison-chart {
            margin: $null auto;
            max-width: $default-unit*320;
            @include device(lg) {
                margin-top: $default-margin*3;
            }
            ngx-charts-bar-vertical {
                width: $full;
                margin: $null auto;
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                @include flex-wrap(wrap);
                ngx-charts-chart {
                    .ngx-charts-outer {
                        margin: $null auto;
                        display: flex;
                    }
                    .ngx-charts {
                        text {
                            @include ecs-typo($primary-font-regular, 200, 24px, 37px, $primary-dark-color);
                            text-transform: uppercase;
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
    }
    .month-selector {
        width: $full;
        background-color: #0069D9;
        margin-top: $default-margin;
        padding: $default-padding $null;
        .center-conatainer {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-around);
            @include flex-wrap(wrap);
            margin: $null auto;
            max-width: $full;
            width: calc(#{$full} - 40px);
            @include device(lg) {
                // max-width: $default-unit*320;
            }
        }
        h2 {
            @include flex(1 0 $full);
            width: $full;
            @include ecs-typo($primary-font-regular, bold, 16px, 18px, $white);
            text-align: center;
            margin: $default-margin $null;
        }
        .month-box {
            background-color: $white;
            @include border-radius($default-unit);
            @include flex(0 1 calc(#{$full} - 20px));
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(flex-start);
            @include flex-wrap(wrap);
            padding: $default-padding;
            margin: $default-margin $null;
            width: calc(#{$full} - 20px);
            border-left: 10px solid transparent;
            @include device(lg) {
                width: calc(#{$full/3} - 20px);
                @include flex(0 1 calc(#{$full/3} - 20px));
            }
            h3 {
                @include ecs-typo($primary-font-regular, bold, 12px, 18px, $white);
                @include flex(0 0 calc(#{$full} - 50px));
                padding: $default-padding $null;
            }
            .glyph-icon{
                @include flex(0 0 auto);
                &:before{
                    font-size: $default-unit*24;
                    line-height: 2;
                }
            }
            .month-amount {
                @include flex(0 0 auto);
                padding: $null;
                margin-left: $default-margin*1.5;
                h2 {
                    @include ecs-typo($primary-font-regular, bold, 16px, 18px, $primary-dark-color);
                    text-align: left;
                    text-transform: uppercase;
                }
                p {
                    @include ecs-typo($primary-font-regular, normal, 16px, 18px, $primary-dark-color);
                    text-align: left;
                    font-size: 13px;
                }
            }
            &.current-month {
                @include horizontal-gradient($primary-color, $secondary-color);
            }
        }
    }
    .ngx-charts-tooltip-content {
        &.type-tooltip {
            background-color: $primary-dark-color!important;
            border: $default-unit solid $primary-dark-color;
            @include ecs-typo($primary-font-regular, bold, 16px, 18px, $primary-dark-color);
            @include border-radius($default-padding);
            // margin-left: -4px;
            color: $white !important;
            // position: relative;
            &::after {
                content: '';
                width: $default-unit*4;
                height: $default-unit*4;
                background-color: $primary-dark-color;
                @include h-center();
                @include rotate(45deg);
                margin-left: -4px;
                // border: 7px solid $primary-dark-color;
                top: calc(#{$full} - 2px);
            }
            .tooltip-caret {
                display: none !important;
            }
            .ecs-tooltip {
                color: $white !important;
            }
        }
    }
    bs-datepicker-container {
        @include vh-centerImp();
        .theme-green {
            .bs-datepicker-head {
                background-color: $primary-color;
            }
        }
    }
    }

}