<div class="ecs-content-box">
    <div class="bill-comparison-data">
        <h3>Bill Comparison</h3>
        <!-- <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
        </div> -->
        <div class="bill-comparison-chart" *ngIf="amount">
            <ngx-charts-bar-vertical [view]="view" [roundDomains]=true [xAxis]="true" [rotateXAxisTicks]=false [scheme]="colorSchemeAmount" [yAxisTickFormatting]="currencyTickFormatting" [results]="multiAmount" [noBarWhenZero]=true [barPadding]=100 [roundEdges]=true>
                <ng-template #tooltipTemplate let-model="model">
                    <div class="ecs-tooltip" style="color: white">${{model.value | json}}</div>
                </ng-template>
            </ngx-charts-bar-vertical>
        </div>
        <div class="bill-comparison-chart" *ngIf="kilowats">
            <ngx-charts-bar-vertical [view]="view" [roundDomains]=true [xAxis]="true" [rotateXAxisTicks]=false [scheme]="colorSchemeKwh" [yAxisTickFormatting]="kwhTickFormatting" [results]="multikwh" [noBarWhenZero]=true [barPadding]=100 [roundEdges]=true>
                <ng-template #tooltipTemplate let-model="model">
                    <div class="ecs-tooltip" style="color: white">{{model.value | json}} kWh</div>
                </ng-template>
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <!-- <div class="ecs-toggle-switch">
        <span class="selector">Amount</span>
        <label class="switch">
            <input type="checkbox" (change)="handleSelected($event)">
            <span class="slider"></span>
        </label>
        <span class="selector">Kilowatts</span>
    </div> -->
    <div class="month-selector align-item-bottom">
        <div class="center-conatainer">
            <h2>Select Month</h2>
            <div class="month-box" [ngClass]="{'active': selectedDatePicker == 3}">
                <h3>{{selectYearThird}} {{selectMonthThirdName}}</h3>
                <button class="edit-month" type="button">
                    <i class="fas fa-edit"></i>
                
                    <form>
                        <input [(ngModel)]="modelDateThird" [minDate]="minDate" [maxDate]="maxDate" class="edit-month-input" autocomplete="off" name="date" bsDatepicker [bsConfig]="{dateInputFormat: 'MM/YYYY'}" (onShown)="onOpenCalendar($event,3)">
                    </form>
                </button>
                <div class="month-amount">
                    $169.00
                </div>
            </div>
            <div class="month-box" [ngClass]="{'active': selectedDatePicker == 2}">
                <h3>{{selectYearSecond}} {{selectMonthSecondName}}</h3>
                <button class="edit-month" type="button">
                    <i class="fas fa-edit"></i>
                
                    <form>
                        <input [(ngModel)]="modelDateSecond" [minDate]="minDate" [maxDate]="maxDate" class="edit-month-input" autocomplete="off" name="date" bsDatepicker [bsConfig]="{dateInputFormat: 'MM/YYYY'}" (onShown)="onOpenCalendar($event,2)">
                    </form>
                </button>
                <div class="month-amount">
                    $169.00
                </div>
            </div>
            <div class="month-box" [ngClass]="{'active': selectedDatePicker == 1}">
                <h3>{{selectYearFirst}} {{selectMonthFirstName}}</h3>
                <button class="edit-month" type="button">
                    <i class="fas fa-edit"></i>
                
                    <form>
                        <input [(ngModel)]="modelDateFirst" [minDate]="minDate" [maxDate]="maxDate" class="edit-month-input" autocomplete="off" name="date" bsDatepicker [bsConfig]="{dateInputFormat: 'MM/YYYY'}" (onShown)="onOpenCalendar($event,1)">
                    </form>
                </button>
                <div class="month-amount">
                    $169.00
                </div>
            </div>
            <div class="month-box current-month">
                <h3>{{year}} {{currentMonthName}}</h3>
                <div class="month-amount">
                    $169.00
                </div>
            </div>
        </div>

    </div>
</div>