<div class="ecs-content-box">
    <div class="projected-biil-details" [ngClass]="(kilowats==true)?'ecs-kilowatt-active':''">
        <div class="ecs-amount">
            <h2>{{ amountValue | currency : 'USD' : 'symbol' : '1.0-0' }}<span>.00</span></h2>
            <h4>Predicted Amount</h4>
        </div>
        <div class="ecs-kilowatt">
            <h2>{{kilowatsValue}} kWh</h2>
            <h4>Usage Uinit</h4>
        </div>

    </div>
    <div class="container" style="width: 960px;">
        <div class="container projected-bill-amount" *ngIf="amount">
            <ngx-charts-bar-vertical [view]="view"  [roundDomains]=true [xAxis]="true"[scheme]="colorScheme" [results]="multiAmount" [noBarWhenZero]=true [barPadding]=65 [roundEdges]=true>
            </ngx-charts-bar-vertical>
        </div>
        <div class="container  projected-bill-amount" *ngIf="kilowats">
            <ngx-charts-bar-vertical [view]="view"  [roundDomains]=true [scheme]="colorScheme" [results]="multiAmount" [noBarWhenZero]=true [barPadding]=65 [roundEdges]=true>
            </ngx-charts-bar-vertical>
        </div>
    </div>
</div>
