<div class="ecs-content-box">
    <router-outlet></router-outlet>
</div>

<div class="ecs-navigation">
    <nav>
        <ul>
            <li class="active-page">
                <a href="http://"><img src="assets/svg/menu-icon/projected-bill.svg"/></a>
            </li>
            <li>
                <a href="http://"><img src="assets/svg/menu-icon/daily-usage.svg"/></a>
            </li>
            <li>
                <a href="http://"><img src="assets/svg/menu-icon/bill-comparision.svg"/></a>
            </li>
            <li>
                <a href="http://"><img src="assets/svg/menu-icon/neighbourhood.svg"/></a>
            </li>
        </ul>
    </nav>
</div>