@import '../../scss/ecs-master';
.projected-bill-amount {
    position: relative;
    padding: $null;
    width: $full;
    max-width: $default-unit*160;
    margin: $full/30 auto;
    @include device(lg) {
        max-width: $default-unit*225;
        width: $default-unit*190;
        margin: $full/40 auto;
        @include flexbox();
        @include flex(1 0 auto);
        @include flex-direction(column);
    }
    @include device(xl) {
        margin-right: $default-margin*10;
    }
    // padding-top: $default-padding*1.2;
    // ngx-charts-bar-vertical {
    //     width: $full;
    // }
    .pb-default-rules {
        width: $full - 13;
        height: $full - 13;
        z-index: 0;
        @include vh-center();
        .shadow-circle {
            background-color: $white;
            width: $full;
            height: $full;
            @include border-radius(50%);
            // @include box-shadow(1px, 1px, 5px, 3px, rgba($dark, .3), false);
            background-repeat: no-repeat;
            background-position: center;
            background-size: $full - 5;
            position: relative;
            &.days-31 {
                background-image: url(../../assets/svg/projetedbill-bg-31.svg);
            }
            &.days-30 {
                background-image: url(../../assets/svg/projetedbill-bg-30.svg);
            }
            &.days-29 {
                background-image: url(../../assets/svg/projetedbill-bg-29.svg);
            }
            &.days-28 {
                background-image: url(../../assets/svg/projetedbill-bg-28.svg);
            }
            .ecs-date {
                position: absolute;
                @include ecs-typo($primary-font-regular, 200, 16px, 37px, $primary-dark-color);
            }
            .month {
                bottom: -$default-unit*20;
                @include h-center();
                @include ecs-typo($primary-font-regular, bold, 16px, 37px, $primary-dark-color);
                text-transform: uppercase;
                @include device(lg) {
                    bottom: -$default-unit*30;
                }
            }
            .date-8 {
                right: 0;
                @include v-center();
            }
            .date-16 {
                bottom: 0;
                @include h-center();
            }
            .date-24 {
                left: 0;
                @include v-center();
            }
            .chart-progress {
                @include vh-center();
                @include ecs-typo($primary-font-regular, 200, 24px, 37px, $primary-dark-color);
            }
        }
    }
}

::ng-deep {
    .projected-bill-amount {
        &.day-usage-bar {
            max-width: $default-unit*210;
            margin: $full/40 auto;
            @include device(lg) {
                max-width: $default-unit*280;
                width: $full;
            }
            ngx-charts-bar-vertical {
                display: table;
            }
            .ngx-charts {
                text {
                    @include ecs-typo($primary-font-regular, 200, 24px, 37px, $primary-dark-color);
                    font-size: 16px !important;
                }
            }
            .ecs-date {
                @include ecs-typo($primary-font-regular, bold, 16px, 37px, $primary-dark-color);
                text-align: center;
                text-transform: uppercase;
                // margin-top: $default-margin;
                clear: both;
            }
            .ecs-avarage {
                @include ecs-typo($primary-font-regular, bold, 16px, 37px, $primary-dark-color);
                text-align: center;
                width: $full;
            }
        }
    }
}

.ngx-charts-tooltip-content {
    @include ecs-typo($primary-font-regular, 200, 12px, 37px, $white);
    background-color: $primary-dark-color;
}

.ecs-usage-alert {
    background-color: $secondary-color;
    @include border-radius($default-unit*5);
    margin: $default-margin*2 $default-margin;
    width: calc(#{ $full} - 30px);
    @include device(lg) {
        // max-height: inherit;
        // overflow-y: visible;
        margin-bottom: $null;
    }
    .progress-data {
        @include flexbox();
        @include flex(1 0 auto);
        @include flex-direction(row);
        @include justify-content(space-between);
        padding: $default-padding/2 $default-padding*1.5;
        h2 {
            @include ecs-typo($primary-font-regular, 700, 16px, 37px, $white);
        }
        .edit-values {
            span {
                @include ecs-typo($primary-font-regular, 700, 18px, 22px, rgba($white, 1));
                margin-right: $default-margin*2;
                padding: $default-unit + 1 $null;
                width: $default-unit*50;
            }
            button {
                background-color: $transition-bg;
                border: none;
                @include ecs-typo($primary-font-regular, 100, 16px, 37px, rgba($white, 1));
                // width: $default-unit*30;
                svg {
                    margin-left: $default-margin/2;
                }
            }
            input {
                @include ecs-typo($primary-font-regular, 700, 18px, 27px, rgba($white, 1));
                text-align: center;
                background-color: $transition-bg;
                border: none;
                border-bottom: thin solid $white;
                width: $default-unit*30;
                margin-right: $default-margin*2;
            }
            .setusagealert {
                svg {
                    path {
                        fill: $white;
                    }
                }
                button {
                    @include ecs-typo($primary-font-regular, 100, 16px, 37px, rgba($white, 1));
                }
            }
        }
    }
    .progress-chart {
        background-color: $primary-dark-color;
        padding: $default-padding;
        @include border-radius($default-unit*5);
        // height: $default-unit*50;
        @include flexbox();
        @include flex(1 0 auto);
        @include flex-direction(column);
        @include justify-content(space-between);
        @include align-items(center);
        .progress-bar {
            width: calc(#{ $full} - 30px);
            position: relative;
            background-color: $transition-bg;
            margin-top: $default-margin*3;
            overflow: visible;
            &::before {
                content: '';
                @include v-center();
                height: $default-unit/2;
                width: $full;
                left: $null;
                background-color: rgba($white, .6);
                z-index: 9;
            }
            .progress-outer {
                z-index: 99;
                .progress-inner {
                    @include ecs-typo($primary-font-regular, 100, 12px, 14px, rgba($white, 1));
                    text-align: right;
                    padding: $default-padding/2;
                    padding-right: $default-padding;
                    @include border-radius($default-padding*2);
                }
                .exceed-bar {
                    @include v-center();
                    width: $default-unit;
                    height: $full;
                    right: $null;
                    background-color: $secondary-color;
                    // position: relative;
                    .alert-amount {
                        @include h-center();
                        @include ecs-typo($primary-font-regular, 700, 14px, 22px, rgba($white, 1));
                        bottom: $full + 5;
                        border: 2px solid $secondary-color;
                        @include border-radius($default-unit*2);
                        padding: $null $default-padding/3;
                    }
                }
            }
        }
        .usage-month {
            @include flexbox();
            @include flex(1 0 auto);
            @include flex-direction(row);
            @include justify-content(center);
            width: calc(#{ $full} - 30px);
            span {
                @include ecs-typo($primary-font-regular, 400, 14px, 20px, rgba($white, 1));
                text-transform: uppercase;
                margin-top: $default-margin/2;
            }
        }
    }
}

.desktop-tab-content {
    @include device(lg) {
        @include flexbox();
        @include flex(1 0 100%);
        @include flex-direction(column);
        @include justify-content(center);
        width: calc(#{ $full} - 30px);
    }
    @include device(xl) {
        @include flex-direction(row);
    }
    .projected-bill-amount {
        @include device(lg) {
            h3 {
                @include ecs-typo($primary-font-regular, bold, 16px, 37px, $primary-dark-color);
                text-align: center;
            }
            .bill-chart-conatin {
                position: relative;
            }
        }
    }
}

::ng-deep {
    .setusagealert {
        svg {
            path {
                fill: $white;
            }
        }
        .ng-pristine {
            text-align: left !important;
        }
    }
}