<div class="ecs-content-box" *ngIf="loader">
    loading....
</div>
<div class="ecs-content-box" *ngIf="!loader">
    <div id="tabs" class="ecs-tabs" #tabs *ngIf="!screeDesktopStatus">

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#bill" [ngClass]="{ 'active':activeTab==='bill'}" (click)="search('bill')" data-toggle="tab">Current Usage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#usage" [ngClass]="{ 'active':activeTab==='usage'}" data-toggle="tab" (click)="result('usage')">Recent Day Usage</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="bill" [ngClass]="{ 'active':activeTab==='bill'}">
                <div class="container projected-bill-amount" *ngIf="amount">
                    <circle-progress [percent]=percent [radius]="80" [outerStrokeWidth]="5" [outerStrokeGradient]="true" [outerStrokeColor]="'#e63333'" [outerStrokeGradientStopColor]="'#5b1494'" [showInnerStroke]="false" [animation]="true" [animationDuration]="900" [responsive]=true
                        [showZeroOuterStroke]=true></circle-progress>
                    <div class="pb-default-rules">
                        <div class="shadow-circle days-30">
                            <div class="ecs-date month">{{month}} {{year}}</div>
                            <!-- <div class="ecs-date date-8">08</div>
                            <div class="ecs-date date-16">16</div>
                            <div class="ecs-date date-24">24</div> -->
                            <div class="chart-progress">{{amountValue | currency}} <h6>As of today</h6></div>
                        </div>

                    </div>
                </div>
                <div class="container  projected-bill-amount" *ngIf="kilowats">
                    <circle-progress [percent]=percent [radius]="80" [outerStrokeWidth]="5" [outerStrokeGradient]="true" [outerStrokeColor]="'#e63333'" [outerStrokeGradientStopColor]="'#5b1494'" [showInnerStroke]="false" [animation]="true" [animationDuration]="900" [responsive]=true
                        [showZeroOuterStroke]=true></circle-progress>
                    <div class="pb-default-rules">
                        <div class="shadow-circle days-31">
                            <div class="ecs-date month">{{month}} {{year}}</div>
                            <!-- <div class="ecs-date date-8">08</div>
                            <div class="ecs-date date-16">16</div>
                            <div class="ecs-date date-24">24</div> -->
                            <div class="chart-progress">{{kilowatsValue}} kWh <h6>As of today</h6></div>
                        </div>

                    </div>
                </div>


                <!-- <button (click)="switchAction('amount')">AMOUNT</button>
                <button (click)="switchAction('kilowats')">KILOWATTS</button> -->
            </div>
            <div class="tab-pane" id="usage" [ngClass]="{ 'active':activeTab==='usage'}">
                <div class="container projected-bill-amount day-usage-bar" *ngIf="amount">
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [roundDomains]=true [results]="multiAmount" [gradient]="gradient" [noBarWhenZero]=true [xAxis]="showXAxis" [yAxis]="showYAxis" [yAxisTickFormatting]="currencyTickFormatting" [barPadding]=35
                        [roundEdges]=true>
                        <ng-template #tooltipTemplate let-model="model">
                            <p class="ecs-tooltip">${{model.value | json}}</p>
                        </ng-template>
                    </ngx-charts-bar-vertical>
                    <div class="ecs-date month">{{month}} {{year}}</div>
                    <h4 class="ecs-avarage">Best day average {{bestDayAverageAmount | currency}}</h4>
                </div>
                <div class="container projected-bill-amount day-usage-bar" *ngIf="kilowats">
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [roundDomains]=true [results]="multikwh" [gradient]="gradient" [roundDomains]=true [noBarWhenZero]=true [xAxis]="showXAxis" [yAxis]="showYAxis" [yAxisTickFormatting]="kwhTickFormatting" [barPadding]=35
                        [roundEdges]=true>
                        <ng-template #tooltipTemplate let-model="model">
                            <p class="ecs-tooltip">{{model.value | json}}kWh</p>
                        </ng-template>
                    </ngx-charts-bar-vertical>
                    <div class="ecs-date month">{{month}} {{year}}</div>
                    <h4 class="ecs-avarage">Best day average {{bestDayAveragekwh}}kWh</h4>
                </div>
            </div>

        </div>
    </div>

    <div id="tabs" class="ecs-tabs" #tabs *ngIf="screeDesktopStatus">


        <div class="desktop-tab-content">
            <div class="desktop-tab-pane" id="bill">
                <div class="container projected-bill-amount" *ngIf="amount">
                    <h3>Current Usage</h3>
                    <div class="bill-chart-conatin">

                        <circle-progress [percent]=percent [radius]="80" [outerStrokeWidth]="5" [outerStrokeGradient]="true" [outerStrokeColor]="'#e63333'" [outerStrokeGradientStopColor]="'#5b1494'" [showInnerStroke]="false" [animation]="true" [animationDuration]="900" [responsive]=true
                            [showZeroOuterStroke]=true></circle-progress>
                        <div class="pb-default-rules">
                            <div class="shadow-circle days-30">
                                <div class="ecs-date month">{{month}} {{year}}</div>
                                <!-- <div class="ecs-date date-8">08</div>
                                <div class="ecs-date date-16">16</div>
                                <div class="ecs-date date-24">24</div> -->
                                <div class="chart-progress">{{amountValue | currency}} <h5>As of today</h5></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container  projected-bill-amount" *ngIf="kilowats">
                    <h3>Current Usage</h3>
                    <div class="bill-chart-conatin">
                        <circle-progress [percent]=percent [radius]="80" [outerStrokeWidth]="5" [outerStrokeGradient]="true" [outerStrokeColor]="'#e63333'" [outerStrokeGradientStopColor]="'#5b1494'" [showInnerStroke]="false" [animation]="true" [animationDuration]="900" [responsive]=true
                        [showZeroOuterStroke]=true></circle-progress>
                        <div class="pb-default-rules">
                            <div class="shadow-circle days-31">
                                <div class="ecs-date month">{{month}} {{year}}</div>
                                <!-- <div class="ecs-date date-8">08</div>
                                <div class="ecs-date date-16">16</div>
                                <div class="ecs-date date-24">24</div> -->
                                <div class="chart-progress">{{kilowatsValue}} kWh <h6>As of today</h6></div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- <button (click)="switchAction('amount')">AMOUNT</button>
                <button (click)="switchAction('kilowats')">KILOWATTS</button> -->
            </div>
            <div class="desktop-tab-pane" id="usage">
                <div class="container projected-bill-amount day-usage-bar" *ngIf="amount">
                    <h3>Recent Day Usage</h3>
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [roundDomains]=true [results]="multiAmount" [gradient]="gradient" [noBarWhenZero]=true [xAxis]="showXAxis" [yAxis]="showYAxis" [yAxisTickFormatting]="currencyTickFormatting" [barPadding]=barPadding
                        [roundEdges]=true>
                        <ng-template #tooltipTemplate let-model="model">
                            <p class="ecs-tooltip">${{model.value | json}}</p>
                        </ng-template>
                    </ngx-charts-bar-vertical>
                    <div class="ecs-date month">{{month}} {{year}}</div>
                    <h4 class="ecs-avarage">Best day average {{bestDayAverageAmount | currency}}</h4>
                </div>
                <div class="container projected-bill-amount day-usage-bar" *ngIf="kilowats">
                    <h3>Recent Day Usage</h3>
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [roundDomains]=true [results]="multikwh" [gradient]="gradient" [roundDomains]=true [noBarWhenZero]=true [xAxis]="showXAxis" [yAxis]="showYAxis" [yAxisTickFormatting]="kwhTickFormatting" [barPadding]=barPadding
                        [roundEdges]=true>
                        <ng-template #tooltipTemplate let-model="model">
                            <p class="ecs-tooltip">{{model.value | json}}kWh</p>
                        </ng-template>
                    </ngx-charts-bar-vertical>
                    <div class="ecs-date month">{{month}} {{year}}</div>
                    <h4 class="ecs-avarage">Best day average {{bestDayAveragekwh}}kWh</h4>
                </div>
            </div>

        </div>
    </div>

    <div class="ecs-toggle-switch">
        <span class="selector">Amount</span>
        <label class="switch">
            <input type="checkbox" (change)="handleSelected($event)">
            <span class="slider"></span>
        </label>
        <span class="selector">Kilowatts</span>
    </div>

    <div class="ecs-usage-alert align-item-bottom">
        <div class="progress-data">
            <h2>Usage Alert</h2>
            <div class="edit-values">
                <div *ngIf="!editStatus">
                    <!-- <span>{{amountAlertValue | currency}}</span> -->
                    <button (click)="editLimitValue()">Set Usage Alert <i class="fas fa-pen"></i></button>
                </div>
                <div *ngIf="editStatus" class="setusagealert">
                    <i class="fas fa-dollar-sign"></i><input type="text" [(ngModel)]="amountAlertValue" value={{amountAlertValue}}>
                    <button (click)="resetValue()">Save<i class="fas fa-check-circle"></i></button>
                </div>
            </div>
        </div>
        <div class="progress-chart">
            <!-- <progress-bar [progress]="percent" [color-degraded]="{'0': '#12e252',  '15': '#f3d504f2', '25': '#f77609'}">
            </progress-bar> -->

            <div class="progress-bar">
                <div class="progress-outer">
                    <div class="progress-inner" [style.width.%]=percentProgressBarAmount style="background-image: linear-gradient(to right, rgb(81, 172, 45) , rgb(233, 153, 49));">
                        {{percentProgressBarAmount}}%
                    </div>
                    <div class="exceed-bar" [style.right.%]=percentProgressBarAmountAlert><span class="alert-amount">{{ amountAlertValue | currency : 'USD' : 'symbol' : '1.0-0' }}</span></div>
                </div>
                <span>{{limitValue}}</span>
            </div>
            
            <div class="usage-month">
                <!-- <span>{{month}} 1</span> -->
                <!-- <span>{{daysInCurrentMonth}}</span> -->
                <span>Day {{day}}</span>
            </div>
        </div>
    </div>

</div>