@import '../../scss/ecs-master';
.projected-bill-amount {
    position: relative;
    padding: $null;
    width: $full;
    max-width: $default-unit*160;
    margin: $full/30 auto;
    @include device(lg) {
        max-width: $default-unit*225;
        margin: $full/40 auto;
        @include flexbox();
        @include flex(1 0 auto);
        @include flex-direction(column);
    }
    // padding-top: $default-padding*1.2;
    // ngx-charts-bar-vertical {
    //     width: $full;
    // }
    .pb-default-rules {
        width: $full - 13;
        height: $full - 13;
        z-index: 0;
        @include vh-center();
        .shadow-circle {
            background-color: $white;
            width: $full;
            height: $full;
            @include border-radius(50%);
            // @include box-shadow(1px, 1px, 5px, 3px, rgba($dark, .3), false);
            background-repeat: no-repeat;
            background-position: center;
            background-size: $full - 5;
            position: relative;
            &.days-31 {
                background-image: url(../../assets/svg/projetedbill-bg-31.svg);
            }
            &.days-30 {
                background-image: url(../../assets/svg/projetedbill-bg-30.svg);
            }
            &.days-29 {
                background-image: url(../../assets/svg/projetedbill-bg-29.svg);
            }
            &.days-28 {
                background-image: url(../../assets/svg/projetedbill-bg-28.svg);
            }
            .ecs-date {
                position: absolute;
                @include ecs-typo($primary-font-regular, 200, 16px, 37px, $primary-dark-color);
            }
            .month {
                bottom: -$default-unit*20;
                @include h-center();
                @include ecs-typo($primary-font-regular, bold, 16px, 37px, $primary-dark-color);
                text-transform: uppercase;
                @include device(lg) {
                    bottom: -$default-unit*30;
                }
            }
            .date-8 {
                right: 0;
                @include v-center();
            }
            .date-16 {
                bottom: 0;
                @include h-center();
            }
            .date-24 {
                left: 0;
                @include v-center();
            }
            .chart-progress {
                @include vh-center();
                @include ecs-typo($primary-font-regular, 200, 24px, 37px, $primary-dark-color);
            }
        }
    }
}

::ng-deep {
    .projected-bill-amount {
        &.day-usage-bar {
            max-width: $default-unit*210;
            margin: $full/40 auto;
            @include device(lg) {
                max-width: $default-unit*280;
            }
            ngx-charts-bar-vertical {
                display: table;
            }
            .ngx-charts {
                text {
                    @include ecs-typo($primary-font-regular, 200, 24px, 37px, $primary-dark-color);
                    font-size: 16px !important;
                }
            }
            .ecs-date {
                @include ecs-typo($primary-font-regular, bold, 16px, 37px, $primary-dark-color);
                text-align: center;
                // margin-top: $default-margin;
                clear: both;
            }
            .ecs-avarage {
                @include ecs-typo($primary-font-regular, bold, 16px, 37px, $primary-dark-color);
                text-align: center;
                width: $full;
            }
        }
    }
}

.ngx-charts-tooltip-content {
    @include ecs-typo($primary-font-regular, 200, 12px, 37px, $white);
    background-color: $primary-dark-color;
}