@import '../../scss/ecs-master';
.daily-usage-data {
    position: relative;
    padding: $null;
    width: $full;
    // max-width: $default-unit*100;
    margin: $full/30 auto;
    @include flexbox();
    @include flex(1 0 auto);
    @include flex-direction(column);
    @include align-items(center);
    @include device(lg) {
        max-width: $default-unit*480;
        margin: $full/40 auto;
    }
    h3 {
        @include ecs-typo($primary-font-regular, 700, 16px, 20px, $primary-dark-color);
        text-align: center;
    }
    .data-guide {
        @include flexbox();
        @include flex(0 0 auto);
        @include flex-direction(row);
        @include justify-content(center);
        span {
            @include ecs-typo($primary-font-regular, 200, 12px, 18px, $primary-dark-color);
            padding-left: $default-padding*5.5;
            margin: $default-margin;
            position: relative;
            &::before {
                content: '';
                width: $default-unit*25;
                height: $default-unit*3;
                display: table;
                @include border-radius($default-unit*3);
                @include v-center();
                left: $null;
            }
            &.usage-guide {
                &::before {
                    background-color: $primary-color;
                }
            }
            &.excess-guide {
                &::before {
                    background-color: $secondary-color;
                }
            }
        }
    }
    .current-day {
        @include ecs-typo($primary-font-regular, 700, 16px, 20px, $primary-dark-color);
        text-align: center;
        //text-transform: uppercase;
    }
    .usage-action {
        @include flexbox();
        @include flex(1 0 auto);
        @include flex-direction(row);
        @include justify-content(center);
        margin-top: $default-margin;
        .ecs-btn {
            @include fill-cta($nutral-light-color, $white);
            padding: $default-padding/3 $default-padding;
            margin: $null $default-margin/3;
        }
    }
}

::ng-deep {
    .daily-usage-data {
        max-width: $default-unit*240;
        .ngx-charts {
            text {
                @include ecs-typo($primary-font-regular, 200, 24px, 37px, $primary-dark-color);
                font-size: 16px !important;
            }
        }
        .ecs-date {
            @include ecs-typo($primary-font-regular, bold, 16px, 37px, $primary-dark-color);
            text-align: center;
        }
        .ecs-avarage {
            @include ecs-typo($primary-font-regular, bold, 16px, 37px, $primary-dark-color);
            text-align: center;
        }
    }
    .ngx-charts-tooltip-content {
        @include ecs-typo($primary-font-regular, 200, 12px, 18px, $white);
        background-color: $primary-dark-color;
        P {
            margin: 0px;
            padding: 0px;
        }
    }
}

.hourly-usage {
    width: $full;
    background-color: $primary-dark-color;
    margin-top: $default-margin;
    padding: $default-padding $null;
    .center-conatainer {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-around);
        @include flex-wrap(wrap);
        margin: $null auto;
        max-width: $default-unit*180;
        max-width: calc(#{$full} - #{$default-margin});
        width: $full;
        @include device(lg) {
            max-width: $default-unit*320;
        }
    }
    h2 {
        @include flex(1 0 $full);
        width: $full;
        @include ecs-typo($primary-font-regular, bold, 16px, 18px, $white);
        text-align: center;
        margin: $default-margin $null;
    }
    .hour-divider {
        @include flex(0 0 $full/4/2);
        padding: $default-padding $default-padding/2;
        @include flexbox();
        @include flex(1 0 auto);
        @include flex-direction(column);
        @include justify-content(flex-end);
        @include align-items(center);
        ul {
            li {
                position: relative;
                padding: $default-padding*1.2 $default-padding/3;
                margin: $null;
                @include device(lg) {
                    padding: $default-padding/1.2 $default-padding;
                }
                // width: $full/2;
                >span {
                    @include v-center();
                    @include ecs-typo($primary-font-regular, 600, 12px, 18px, $primary-color);
                    padding: $null $default-padding/2.5;
                    background-color: rgba($white, .1);
                    @include border-radius($default-padding);
                    &.hour-amount {
                        right: $full;
                    }
                    &.hour-kWh {
                        left: $full;
                    }
                }
                &::before {
                    content: '';
                    width: $default-unit*5;
                    height: $default-unit*2;
                    background-color: $nutral-medium-color;
                    display: table;
                    margin: $null auto;
                    @include border-radius($default-unit);
                    @include device(lg) {
                        width: $default-unit*10;
                    }
                }
                &.hour-finished {
                    >span {
                        @include ecs-typo($primary-font-regular, 400, 12px, 18px, $white);
                    }
                    &::before {
                        background-color: $primary-color;
                    }
                }
                &.above-avarage {
                    >span {
                        @include ecs-typo($primary-font-regular, 600, 12px, 18px, $secondary-color);
                        background-color: rgba($secondary-color, .2);
                    }
                    &::before {
                        background-color: $secondary-color;
                    }
                }
            }
        }
        h3 {
            @include ecs-typo($primary-font-regular, bold, 16px, 18px, rgba($white, 8));
            margin: $default-margin $null;
            text-align: center;
        }
    }
}