<div class="ecs-content-box dailyusage-container">
    <div class="daily-usage-data">
        <h3>Daily Usage</h3>
        <div class="data-guide">
            <span class="usage-guide">Usage</span>
            <span class="excess-guide">Excess</span>
        </div>
        <div *ngIf="amount">

            <ngx-charts-bar-vertical-stacked [view]="view" [attr.transform]="customTransform" [results]="chartDataAmountSection" [xAxis]="true" [yAxis]="true" [barPadding]=barPadding [customColors]="myColors" [roundDomains]=true [yAxisTickFormatting]="currencyTickFormatting">

                <ng-template #tooltipTemplate let-model="model">
                    <p *ngIf="model.value < 10 && model.name == 'usage'">usage</p>
                    <p *ngIf="model.name == 'exceed average' ">Exceed average by</p>
                    <p *ngIf="model.name == 'upto average' ">Up to average</p>
                    <p *ngIf="model.value < 10">${{model.value | json}}</p>
                </ng-template>
            </ngx-charts-bar-vertical-stacked>
        </div>
        <div *ngIf="kilowats">

            <ngx-charts-bar-vertical-stacked [view]="view" [results]="chartDataKwhSection" [xAxis]="true" [yAxis]="true" [barPadding]=barPadding [customColors]="myColors" [roundDomains]=true [yAxisTickFormatting]="kwhTickFormatting">

                <ng-template #tooltipTemplate let-model="model">
                    <p *ngIf="model.value < 30 && model.name == 'usage'">usage</p>
                    <p *ngIf="model.name == 'exceed average' ">Exceed average by</p>
                    <p *ngIf="model.name == 'upto average' ">Up to average</p>
                    <p *ngIf="model.value < 30">{{model.value | json}}kWh</p>
                </ng-template>
            </ngx-charts-bar-vertical-stacked>
        </div>
        <div class="usage-action" *ngIf="!webStatus">
            <button class="ecs-btn" type="button" [disabled]="!prevCountStatus" (click)="selectDailyUsageData('prev')"><i class="fas fa-chevron-left"></i></button>
            <button class="ecs-btn" type="button" [disabled]="!nextCountStatus" (click)="selectDailyUsageData('next')"><i class="fas fa-chevron-right"></i></button>
        </div>

    </div>
    <div class="ecs-toggle-switch">
        <span class="selector">Amount</span>
        <label class="switch">
            <input type="checkbox" (change)="handleSelected($event)">
            <span class="slider"></span>
        </label>
        <span class="selector">Kilowatts</span>
    </div>


    <div class="hourly-usage" *ngIf="this.hourlyUsage != ''">
        
        <div class="center-conatainer">
            <h2>Hourly Usage</h2>

            <div class="day-counter">
                <button class="ecs-btn" [disabled]="hourlyDay == 1" (click)="prevDayData()" ><i class="fas fa-chevron-left"></i></button>
                <h3>{{hourlyMonthName}} {{hourlyDay}}</h3>
                <button class="ecs-btn" [disabled]="hourlyDay == currentDay-1" (click)="nextDayData()"><i class="fas fa-chevron-right"></i></button>
            </div>

            <div class="hour-divider-group">
            
            <div class="hour-divider">
                <ul *ngFor="let data of sixHoursData">
                    <li class="hour-finished"><span class="hour-amount">{{data.amount}}</span><span class="hour-kWh">{{data.kwh}}</span></li>
                    <!-- <li class="hour-finished above-avarage"><span class="hour-amount">$10.00</span><span class="hour-kWh">5kWh</span></li>
                    <li class="hour-finished "><span class="hour-amount">$3.00</span><span class="hour-kWh">2kWh</span></li>
                    <li class="hour-finished "><span class="hour-amount">$10.00</span><span class="hour-kWh">8kWh</span></li>
                    <li class="hour-finished "><span class="hour-amount">$4.00</span><span class="hour-kWh">3kWh</span></li>
                    <li class="hour-finished "><span class="hour-amount">$2.5</span><span class="hour-kWh">1kWh</span></li>
                    <li class="hour-finished "><span class="hour-amount">$3.00</span><span class="hour-kWh">2kWh</span></li> -->
                </ul>
                <h3>6Hrs</h3>
            </div>
            <div class="hour-divider">
                <ul *ngFor="let data of twelveHoursData">
                    <li class="hour-finished"><span class="hour-amount">{{data.amount}}</span><span class="hour-kWh">{{data.kwh}}</span></li>
                    <!-- <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li class="hour-finished above-avarage"><span class="hour-amount">$10.00</span><span class="hour-kWh">8kWh</span></li>
                    <li class="hour-finished "><span class="hour-amount">$4.00</span><span class="hour-kWh">3kWh</span></li>
                    <li class="hour-finished "><span class="hour-amount">$2.5</span><span class="hour-kWh">1kWh</span></li> -->

                </ul>
                <h3>12Hrs</h3>
            </div>
            <div class="hour-divider">
                <ul *ngFor="let data of eighteenHoursData">
                    <li class="hour-finished"><span class="hour-amount">{{data.amount}}</span><span class="hour-kWh">{{data.kwh}}</span></li>
                    <!-- <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li> -->
                </ul>
                <h3>18Hrs</h3>
            </div>
            <div class="hour-divider">
                <ul *ngFor="let data of twentyfourHoursData">
                    <li class="hour-finished"><span class="hour-amount">{{data.amount}}</span><span class="hour-kWh">{{data.kwh}}</span></li>
                    <!-- <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li>
                    <li><span class="hour-amount"></span><span class="hour-kWh"></span></li> -->
                </ul>
                <h3>24Hrs</h3>
            </div>
        </div>
        </div>
        
    </div>
</div>